<ion-list color='dark'>


    <ion-item-sliding *ngFor="let lista of deseosService.listas | filtroCompletado:terminada">
        <!-- el filtroCompletado usa el terminada que lo definimos en el @Input de listas.component-->
        <ion-item detail color='dark' (click)="listaSeleccionada(lista)">
            <!-- detail = muestra la flechita '>'en la lista. -->
            <!-- click lista seleccionada. Es para cuando hacemos click en una lista hacer la redireccion. -->
            <ion-label>{{lista.titulo}}</ion-label>
            <ion-note slot="end" color="secondary">{{lista.items.length}} items</ion-note>
        </ion-item>

        <ion-item-options side="end">
            <ion-item-option (click)="borrarLista(lista)" color="danger">

                <ion-icon name="close" slot="icon-only">
                </ion-icon>

            </ion-item-option>
        </ion-item-options>

        <ion-item-options side="start">
            <ion-item-option (click)="editarLista(lista)" color="secondary">

                <ion-icon name="create" slot="icon-only">
                </ion-icon>

            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>

</ion-list>